<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
  <!-- header -->
  <app-header></app-header>

  <!-- home -->
  <div id="home" class="container-fluid h-100 p-5">
    <div class="col-md-8 p-md-5 banner-text">
      <h2 class="text-white">Emily</h2>
      <h1 class="text-white">Kit Yi Wan</h1>
      <h3 class="text-white">Software Developer.</h3>
      <div class="js-to-Scroll">
        <a href="#about" class="scroll__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 551.14 295.1">
            <path
              d="M545.4,5.6a19.47,19.47,0,0,0-27.53,0L275.74,248.43,33.13,5.6A19.48,19.48,0,0,0,5.6,33.17L261.49,289.3a19,19,0,0,0,13.77,5.7A19.82,19.82,0,0,0,289,289.3L544.93,33.17A19.11,19.11,0,0,0,545.4,5.6Z"
              transform="translate(0.1 0.1)"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- about -->
  <div id="about" class="container-fluid p-5">
    <div class="row m-md-5 px-md-5">
      <div class="col-sm-6 col-md-4">
        <div class="profile" style="width: 80%">
          <app-scroll-animation [offset]="500" class="element-1">
            <img
              class="img-fluid"
              src="../../assets/profile.jpg"
              alt="Kit Yi Wan Profile Image"
            />
          </app-scroll-animation>
        </div>
      </div>
      <div class="col-sm-6 col-md-8">
        <app-scroll-animation [offset]="700" class="element-2">
          <h4>Hi, I'm Kit Yi Wan</h4>
        </app-scroll-animation>
        <p>
          After years of experience in digital projects as a business user, my
          curiosity takes me to a journey as a software developer. Now I am
          equipped with Software Engineering, Project Management, and Digital
          Marketing skill sets together.
        </p>
        <h6>Skills</h6>
        <div *ngFor="let skill of skillList">
          <div class="row">
            <div class="col-8">{{ skill.name }}</div>
            <div class="col-4 text-end">{{ skill.score }} %</div>
          </div>
          <div class="progress">
            <div
              class="progress-bar progress-bar-animate"
              [style.width.%]="skill.score"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div id="skill" class="container-fluid mt-5 py-5 px-md-5">
    <div
      id="skillslide"
      class="carousel slide mx-md-5 px-5"
      data-bs-ride="carousel"
    >
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          *ngFor="let skill of skillList; let index = index"
          type="button"
          data-bs-target="#skillslide"
          [attr.data-bs-slide-to]="index"
          [class.active]="index === 0"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div
          *ngFor="let skill of skillList; let isFirst = first"
          [ngClass]="{ 'carousel-item': true, active: isFirst }"
        >
          <div class="row">
            <div class="col-xs-12 col-md-6 skillout">
              <app-scroll-animation [offset]="900" class="element-3">
                <div class="skillbox">
                  <h4>{{ skill.name }}</h4>
                  <hr class="my-3" />
                  <p>{{ skill.description }}</p>
                </div>
              </app-scroll-animation>
            </div>
            <div class="col-xs-12 col-md-6 px-xs-5 p-md-5">
              <h6>Qualification</h6>
              <p style="color: #565656">
                <strong style="color: #565656">{{ skill.qualification }}</strong
                ><br />{{ skill.organization }}
              </p>
              <h6>Tools</h6>
              <p>
                <span
                  *ngFor="let item of skill.skills"
                  class="badge rounded-pill bg-dark py-2 px-3 m-1"
                  >{{ item }}</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#skillslide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#skillslide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

  <!-- projects -->
  <div id="projects" class="container-fluid py-5">
    <div class="text-center my-5">
      <h4>Projects</h4>
      <p>Check out some of my projects I've worked on.</p>
    </div>
    <app-scroll-animation [offset]="1400" class="element-4">
      <div class="row projectList mb-5">
        <div class="col-md-4">
          <div class="short-div mb-md-2 container">
            <img
              src="../../assets/project5-1.jpg"
              alt="Temporary Dental Staffing Web Application"
              class="image"
            />
            <div class="overlay">
              <h5 class="title text-center text-white">
                Temporary Dental Staffing Site
              </h5>
              <button
                type="button"
                class="btn button px-4"
                data-bs-toggle="modal"
                data-bs-target="#project4"
              >
                Details
              </button>
            </div>
          </div>
          <div class="short-div mb-md-2 container">
            <img
              src="../../assets/project3-1.jpg"
              alt="Membership Platform eCommerce Site"
              class="image"
            />
            <div class="overlay">
              <h5 class="title text-center text-white">
                Membership Platform eCommerce Site
              </h5>
              <button
                type="button"
                class="btn button px-4"
                data-bs-toggle="modal"
                data-bs-target="#project2"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <img
              src="../../assets/project4-1.png"
              alt="Event Management & Ticketing Site"
              class="image img-center"
            />
            <div class="overlay">
              <h5 class="title text-center text-white">
                Event Management & Ticketing Site
              </h5>
              <button
                type="button"
                class="btn button px-4"
                data-bs-toggle="modal"
                data-bs-target="#project3"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="short-div mb-md-2 container">
            <img
              src="../../assets/project2-1.jpg"
              alt="Referral Campaign Site"
              class="image"
            />
            <div class="overlay">
              <h5 class="title text-center text-white">
                Digital Referral Campaign
              </h5>
              <button
                type="button"
                class="btn button px-4"
                data-bs-toggle="modal"
                data-bs-target="#project1"
              >
                Details
              </button>
            </div>
          </div>
          <div class="short-div mb-md-2 container">
            <img
              src="../../assets/project1-1.jpg"
              alt="Facebook Chatbot Implementation"
              class="image"
            />
            <div class="overlay">
              <h5 class="title text-center text-white">
                Facebook Chatbot Implementation
              </h5>
              <button
                type="button"
                class="btn button px-4"
                data-bs-toggle="modal"
                data-bs-target="#project0"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </app-scroll-animation>
  </div>

  <!-- modal -->
  <app-modal></app-modal>

  <!-- contact -->
  <div id="contact" class="container-fluid p-5">
    <div class="mx-5 px-md-5 pt-md-5">
      <app-scroll-animation [offset]="2200" class="element-5">
        <div class="row m-2">
          <h4>Contact</h4>
          <p>
            Feel free to contact me by submitting the form below or connecting
            me on
            <a href="https://www.linkedin.com/in/kityiwan-emily/">LinkedIn</a>.
            I will get back to you as soon as possible.
          </p>
        </div>
      </app-scroll-animation>
    </div>
    <app-contact></app-contact>
  </div>

  <!-- footer -->
  <app-footer></app-footer>
</body>
